annotated-types==0.7.0
anyio==4.4.0
azure-core==1.30.2
azure-identity==1.17.1
bleach==6.1.0
blinker==1.8.2
blosc2==2.7.1
cachelib==0.9.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-pivottable==0.0.2
dash-table==5.0.0
deprecation==2.1.0
ecl-data-io==3.1.3
Flask==3.0.3
Flask-Caching==2.3.0
flask-talisman==1.1.0
fmu-sumo==1.2.2
fonttools==4.53.1
h11==0.14.0
h5py==3.11.0
hdf5plugin==4.4.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.5
msal==1.30.0
msal-extensions==1.2.0
msgpack==1.0.8
ndindex==1.8
nest-asyncio==1.6.0
numexpr==2.10.1
numpy==1.26.4
openvds==3.4.3
orjson==3.10.7
osdu_api @ file:///private/ashska/dev_311/common-python-sdk-master/common-python-sdk-master
packaging==24.1
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
portalocker==2.10.1
py-cpuinfo==9.0.0
pyarrow==17.0.0
pycairo==1.26.1
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
PyGObject==3.44.1
PyJWT==2.9.0
pyparsing==3.1.2
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
retrying==1.3.4
RoffIO==1.0.2
scipy==1.14.0
segyio==1.9.12
shapely==2.0.5
six==1.16.0
sniffio==1.3.1
sumo-wrapper-python==1.0.9
tables==3.10.0
tenacity==9.0.0
tinycss2==1.2.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
webviz-config==0.6.3
webviz-config-equinor==0.2.5
webviz-subsurface-components==0.4.15
webviz_core_components==0.7.0
Werkzeug==3.0.3
xtgeo==2.21.3
zipp==3.20.0
